include README.md
include README.me
include LICENSE
include crazydiskmark.1
include crazydiskmark.1.gz
include crazydiskmark/*.ui
include crazydiskmark/crazydiskmark.desktop
include crazydiskmark/images/*
include crazydiskmark/scripts/*
include crazydiskmark/locale/*
include crazydiskmark/locale/pt/*
include crazydiskmark/locale/pt/LC_MESSAGES/*


